body {
    font-size: 1.6rem;
}

.navbar-brand,
.nav-link {
    font-size: 1.8rem;
}

label,
.btn,
.card-title,
.card-text {
    font-size: 1.6rem;
}

.container {
    max-width: 95%;
}

.container-fluid {
    max-width: 95% !important;
    margin-left: auto;
    margin-right: auto;
}

.m-3 {
    margin: 0.5rem !important;
}

@media (max-width: 576px) {
    body {
        font-size: 1.6rem;
    }

    .navbar-brand,
    .nav-link {
        font-size: 1.8rem;
    }
}

/* Spezifische Anpassungen für player_vote.html */

.player-vote-container h2.display-4 {
    font-size: 3rem;
}

.player-vote-container .lead {
    font-size: 2.4rem;
}

.player-vote-container .card-title {
    font-size: 2rem;
    font-weight: bold;
}

.player-vote-container .card .form-control-lg {
    font-size: 2rem;
}

.player-vote-container .btn-lg {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.player-vote-container .card {
    margin-bottom: 2.5rem;
    padding: 1.5rem;
}

.player-vote-container .card-body {
    padding: 2rem;
}

.player-vote-container .text-center {
    margin-bottom: 2.5rem;
}

.player-vote-container .btn-link {
    font-size: 1.8rem;
}