{% extends "base.html" %}
{% block title %}Abstimmen - Der Dümmste fliegt{% endblock %}
{% block content %}
<h2>User Ansicht</h2>
<p>Aktuelle Runde: <span id="current-round">{{ current_round_name }}</span></p>

{% if step == 'select_player' %}
<form method="POST" action="{{ url_for('player_vote') }}">
    <div class="form-group">
        <label for="selected_player">Wer bist du?</label>
        <select name="selected_player" id="selected_player" class="form-control">
            {% for participant in participants %}
            <option value="{{ participant.id }}">{{ participant.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Weiter</button>
</form>
{% elif step == 'cast_vote' %}
<form method="POST" action="{{ url_for('cast_vote') }}">
    <div class="form-group">
        <label for="participant">Wen wählst du?</label>
        <select name="participant" id="participant" class="form-control">
            {% for participant in participants %}
            <option value="{{ participant.id }}">{{ participant.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Abstimmen</button>
</form>
<a href="{{ url_for('change_user') }}" class="btn btn-link mt-2">Benutzer ändern</a>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    function updateRoundName() {
        fetch("{{ url_for('get_game_data') }}")
            .then(response => response.json())
            .then(data => {
                document.getElementById('current-round').textContent = data.round_name;
            })
            .catch(error => console.error('Error fetching game data:', error));
    }
    setInterval(updateRoundName, 5000);
</script>
{% endblock %}