{% extends "base.html" %}
{% block title %}Abstimmen - Der Dümmste fliegt{% endblock %}
{% block content %}
<div class="container-fluid player-vote-container">
    <h2 class="mt-4 mb-5 text-center display-4">User Ansicht</h2>
    <div class="mb-5 text-center">
        <p class="lead">Aktuelle Runde: <span id="current-round">{{ current_round_name }}</span></p>
    </div>

    {% if current_player %}
    <div class="card mb-5 shadow-sm">
        <div class="card-body text-center">
            <p class="mb-3 lead">Du bist:</p>
            <h4 class="card-title">{{ current_player.name }}</h4>
            <p class="card-text">Herzen: {{ current_player.hearts }}</p>
        </div>
    </div>
    {% endif %}

    {% if step == 'select_player' %}
    <div class="card mb-5 shadow-sm">
        <div class="card-body">
            <h5 class="card-title mb-4">Wer bist du?</h5>
            <form method="POST" action="{{ url_for('player_vote') }}">
                <div class="form-group mb-4">
                    <label for="selected_player" class="mb-3">Spieler auswählen:</label>
                    <select name="selected_player" id="selected_player" class="form-control form-control-lg">
                        {% for participant in participants %}
                        <option value="{{ participant.id }}">{{ participant.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-lg w-100">Weiter</button>
            </form>
        </div>
    </div>
    {% elif step == 'cast_vote' %}
    <div class="card mb-5 shadow-sm">
        <div class="card-body">
            <h5 class="card-title mb-4">Wen wählst du?</h5>
            <form method="POST" action="{{ url_for('cast_vote') }}">
                <div class="form-group mb-4">
                    <label for="participant" class="mb-3">Spieler auswählen:</label>
                    <select name="participant" id="participant" class="form-control form-control-lg">
                        {% for participant in participants %}
                        <option value="{{ participant.id }}">{{ participant.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success btn-lg w-100">Abstimmen</button>
            </form>
        </div>
    </div>
    <div class="text-center mb-5">
        <a href="{{ url_for('change_user') }}" class="btn btn-link">Benutzer ändern</a>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    function updateRoundName() {
        fetch("{{ url_for('get_game_data') }}")
            .then(response => response.json())
            .then(data => {
                document.getElementById('current-round').textContent = data.round_name;
            })
            .catch(error => console.error('Error fetching game data:', error));
    }
    setInterval(updateRoundName, 5000);
</script>
{% endblock %}